In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Control display of seaborn data
# pd.options.display.max_columns = 50
# sns.set(style="darkgrid", rc = {"axes.facecolour":"#CAF1DE"})

In [2]:
# Load dataset
df = pd.read_csv("bse_dataset.csv")
df

,Timestamp,What is your gender?,Age,What is your emotion?,Year of birth,What is your CGPA?,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?
0,05/07/2023 09:38:39,Male,21,Content,2002,4.22,No,No,Yes,Yes,Yes
1,05/07/2023 09:38:57,Marabou stock,45,Weird,2100,8.9,Yes,Yes,Yes,Yes,No
2,05/07/2023 09:39:09,Female,20,Happy,2002,3.98,No,No,Yes,Yes,No
3,05/07/2023 09:39:12,Male,21,Happy,2003,4.37,No,No,No,No,Nope
4,05/07/2023 09:39:14,Female,21,Happy,2002,3.63,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
92,05/07/2023 09:53:56,Female,68,Sad,1953,4.8,No,Yes,Yes,Yes,Yes
93,05/07/2023 09:54:13,Male,29,Hopeful,1994,I don't know yet,"Sure, multiple girlfriends",No,No,No,No
94,05/07/2023 09:54:28,Male,22,Fighting poverty,2001,3.12,Girl friends are thieves,Yes,Yes,No,No
95,05/07/2023 09:54:36,Male,23,good and bad,2000,3.5,Namiiro Zahara Bidin,No,No,No,No
96,05/07/2023 09:54:52,male,30,hunger,2023,5,ARI,no,yeah,nah,yeah

In [ ]:
# Data an-+alysis workflow
# Understanding of dataset preparation
# Data cleaning- data cleaning,wrong data, wrong format null values, duplicate values
# Exploratory data analysis
# Insight of the data visialization

In [3]:
# understanding ofdata tructure
# checking shape of data- understanding rowns and columns 
df.shape

(97, 11)

In [4]:
# checking column names 
df.columns

Index(['Timestamp', 'What is your gender?', 'Age', 'What is your emotion?',
       'Year of birth', 'What is your CGPA?',
       'Do you have a Girl Friend or BOY Friend', 'Do you have Depression?',
       'Do you have Anxiety?', 'Do you have Panic attack?',
       'Did you have seek any specialist for a treatment? '],
      dtype='object')

In [5]:
# check for basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 11 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Timestamp                                           97 non-null     object
 1   What is your gender?                                97 non-null     object
 2   Age                                                 97 non-null     int64
 3   What is your emotion?                               96 non-null     object
 4   Year of birth                                       97 non-null     object
 5   What is your CGPA?                                  97 non-null     object
 6   Do you have a Girl Friend or BOY Friend             97 non-null     object
 7   Do you have Depression?                             97 non-null     object
 8   Do you have Anxiety?                                97 non-null     object
 9   Do you have Panic attack?                           97 non-null     object
 10  Did you have seek any specialist for a treatment?   97 non-null     object
dtypes: int64(1), object(10)
memory usage: 8.5+ KB

In [6]:
# check null values
df.isnull().sum().sort_values(ascending=False)

What is your emotion?                                 1
Timestamp                                             0
What is your gender?                                  0
Age                                                   0
Year of birth                                         0
What is your CGPA?                                    0
Do you have a Girl Friend or BOY Friend               0
Do you have Depression?                               0
Do you have Anxiety?                                  0
Do you have Panic attack?                             0
Did you have seek any specialist for a treatment?     0
dtype: int64

In [9]:
df2 = pd.read_csv("bse_dataset2.csv")
df2

,Timestamp,What is your gender?,Age,What is your emotion?,Year of birth,What is your CGPA?,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
97,05/07/2023 09:56:37,Female,29.0,Grateful,2002,3.6,No,No,No,No,Nope
98,05/07/2023 09:59:18,Female,21.0,Grateful,31/12/2001,2.88,Yes,No,Yes,No,No
99,05/07/2023 10:11:02,Male,21.0,Yes,2002,3.2,No,Yes,Yes,No,No
100,05/07/2023 10:17:36,Female,21.0,Sad,2002,5,Yes,Yes,No,No,No
101,05/07/2023 10:47:51,Male,21.0,Sad,2002,4.6,Yes,Yes,Yes,Yes,No

In [10]:
# check null values
df2.isnull().sum().sort_values(ascending=False)

Age                                                   2
What is your emotion?                                 1
Timestamp                                             0
What is your gender?                                  0
Year of birth                                         0
What is your CGPA?                                    0
Do you have a Girl Friend or BOY Friend               0
Do you have Depression?                               0
Do you have Anxiety?                                  0
Do you have Panic attack?                             0
Did you have seek any specialist for a treatment?     0
dtype: int64

In [14]:
for i in df2.columns:
    if df2[i].isnull().any():
       print(i,"-------",df2[i].isnull().sum()*100/df2.shape[0], "%")

Age ------- 1.9607843137254901 %
What is your emotion? ------- 0.9803921568627451 %

In [ ]:
# Checking null values in figures
import missingno as msno
msno.bar(df2,color= "gray", fontsize= "")

In [15]:
# Chcking for duplicates
df2.duplicated().sum()

0

In [16]:
# Describe( statistical details about your data
df2.describe(include= "object").T

,count,unique,top,freq
Timestamp,102,95,05/07/2023 09:40:10,2
What is your gender?,102,10,Male,43
What is your emotion?,101,52,Happy,16
Year of birth,102,19,2002,40
What is your CGPA?,102,63,4,7
Do you have a Girl Friend or BOY Friend,102,14,No,39
Do you have Depression?,102,13,No,49
Do you have Anxiety?,102,18,No,40
Do you have Panic attack?,102,13,No,47
Did you have seek any specialist for a treatment?,102,9,No,48

In [17]:
# Check unique values Show unique values in columns in our dataframe df2
for i in df2.columns:
    print(i, "----",df2[i].unique(),"------", df2[i].unique)

Timestamp ---- ['05/07/2023 09:38:39' '05/07/2023 09:38:57' '05/07/2023 09:39:09'
 '05/07/2023 09:39:12' '05/07/2023 09:39:14' '05/07/2023 09:39:20'
 '05/07/2023 09:39:21' '05/07/2023 09:39:23' '05/07/2023 09:39:26'
 '05/07/2023 09:39:27' '05/07/2023 09:39:28' '05/07/2023 09:39:33'
 '05/07/2023 09:39:38' '05/07/2023 09:39:40' '05/07/2023 09:39:45'
 '05/07/2023 09:39:46' '05/07/2023 09:39:47' '05/07/2023 09:39:49'
 '05/07/2023 09:39:50' '05/07/2023 09:39:54' '05/07/2023 09:39:56'
 '05/07/2023 09:40:00' '05/07/2023 09:40:01' '05/07/2023 09:40:02'
 '05/07/2023 09:40:08' '05/07/2023 09:40:10' '05/07/2023 09:40:12'
 '05/07/2023 09:40:13' '05/07/2023 09:40:16' '05/07/2023 09:40:25'
 '05/07/2023 09:40:26' '05/07/2023 09:40:27' '05/07/2023 09:40:33'
 '05/07/2023 09:40:34' '05/07/2023 09:40:40' '05/07/2023 09:40:42'
 '05/07/2023 09:40:46' '05/07/2023 09:40:47' '05/07/2023 09:40:54'
 '05/07/2023 09:40:59' '05/07/2023 09:41:00' '05/07/2023 09:41:01'
 '05/07/2023 09:41:05' '05/07/2023 09:41:06' '05/07/2023 09:41:07'
 '05/07/2023 09:41:08' '05/07/2023 09:41:11' '05/07/2023 09:41:18'
 '05/07/2023 09:41:19' '05/07/2023 09:41:20' '05/07/2023 09:41:25'
 '05/07/2023 09:41:30' '05/07/2023 09:41:31' '05/07/2023 09:41:33'
 '05/07/2023 09:41:35' '05/07/2023 09:41:36' '05/07/2023 09:41:40'
 '05/07/2023 09:41:41' '05/07/2023 09:41:42' '05/07/2023 09:41:47'
 '05/07/2023 09:41:56' '05/07/2023 09:41:58' '05/07/2023 09:42:04'
 '05/07/2023 09:42:15' '05/07/2023 09:42:17' '05/07/2023 09:42:39'
 '05/07/2023 09:42:48' '05/07/2023 09:43:05' '05/07/2023 09:43:08'
 '05/07/2023 09:43:22' '05/07/2023 09:43:36' '05/07/2023 09:43:56'
 '05/07/2023 09:44:09' '05/07/2023 09:44:14' '05/07/2023 09:44:15'
 '05/07/2023 09:44:35' '05/07/2023 09:45:13' '05/07/2023 09:45:38'
 '05/07/2023 09:45:40' '05/07/2023 09:49:52' '05/07/2023 09:51:39'
 '05/07/2023 09:51:52' '05/07/2023 09:52:27' '05/07/2023 09:52:57'
 '05/07/2023 09:53:52' '05/07/2023 09:53:56' '05/07/2023 09:54:13'
 '05/07/2023 09:54:28' '05/07/2023 09:54:36' '05/07/2023 09:54:52'
 '05/07/2023 09:56:37' '05/07/2023 09:59:18' '05/07/2023 10:11:02'
 '05/07/2023 10:17:36' '05/07/2023 10:47:51'] ------ <bound method Series.unique of 0      05/07/2023 09:38:39
1      05/07/2023 09:38:57
2      05/07/2023 09:39:09
3      05/07/2023 09:39:12
4      05/07/2023 09:39:14
              ...
97     05/07/2023 09:56:37
98     05/07/2023 09:59:18
99     05/07/2023 10:11:02
100    05/07/2023 10:17:36
101    05/07/2023 10:47:51
Name: Timestamp, Length: 102, dtype: object>
What is your gender? ---- ['Male' 'Marabou stock' 'Female ' 'Female' 'female' 'MALE' 'FEMALE' 'male'
 'Yes' 'M'] ------ <bound method Series.unique of 0               Male
1      Marabou stock
2            Female
3               Male
4             Female
           ...
97            Female
98           Female
99              Male
100          Female
101             Male
Name: What is your gender?, Length: 102, dtype: object>
Age ---- [21. 45. 20. 23. 22. 24. 25. 28. 19. nan 50. 30. 68. 29.] ------ <bound method Series.unique of 0      21.0
1      45.0
2      20.0
3      21.0
4      21.0
       ...
97     29.0
98     21.0
99     21.0
100    21.0
101    21.0
Name: Age, Length: 102, dtype: float64>
What is your emotion? ---- ['Content' 'Weird' 'Happy' 'Happy ' 'irritated ' 'In a state of wonder'
 'Sad' 'happy' 'Moody' 'fine' 'TIRED FOR NOW' 'Jolly' 'Frustrated'
 'Anxious' 'HAPPY' 'calm' 'sad' 'Not sure' 'I hate nosense ' 'Joyful'
 'Nonchalant ' 'excited' 'stressed' 'Relaxed' 'Angry ' 'leaning'
 'Disgusted' 'Tired' 'Upset' 'Anger' 'angry' 'Sad ' 'Lonely' 'Happiness'
 'sleepy' 'tired' 'stress' 'unhappy' 'happy ' 'care' nan 'Afraid '
 'Scared' 'HAPPY ' 'Joy' 'Lonely ' 'panic' 'Hopeful' 'Fighting poverty'
 'good and bad' 'hunger' 'Grateful ' 'Yes'] ------ <bound method Series.unique of 0        Content
1          Weird
2          Happy
3          Happy
4          Happy
         ...
97     Grateful
98     Grateful
99           Yes
100          Sad
101          Sad
Name: What is your emotion?, Length: 102, dtype: object>
Year of birth ---- ['2002' '2100' '2003' '2000' '2001' '1998' '1995' '2004' '1999' '2022'
 '1970' '18/11/1993' '5.10.2000' '10th/04/2001' '1st July 2002' '1953'
 '1994' '2023' '31/12/2001'] ------ <bound method Series.unique of 0            2002
1            2100
2            2002
3            2003
4            2002
          ...
97           2002
98     31/12/2001
99           2002
100          2002
101          2002
Name: Year of birth, Length: 102, dtype: object>
What is your CGPA? ---- ['4.22' '8.9' '3.98' '4.37' '3.63' '3.8' '3.88' '3.79' '4.7' '4' '3.9'
 '3.56' '5' '3' '4.5' '4.68' '4.28' '3.76' '2.1' '3.7' '3.5' '4......'
 '3.6' '3.74' '3.67' '4.08' '4.16' '4.4' '4.6' '3.92' '3.87' '1.3' '4.65'
 '4.74' '4.03' '3.71' '4.1' '2.5' '2' '3.4' '4.26' '3.75' '4.2' '3.85'
 '3.1' '4.46' '3.18' '1' '3.66' '4.8' '4.9' '4.25' '4.52' '3.11' '4.83'
 '2.79' '3.3' '2.3' '3.78' "I don't know yet" '3.12' '2.88' '3.2'] ------ <bound method Series.unique of 0      4.22
1       8.9
2      3.98
3      4.37
4      3.63
       ...
97      3.6
98     2.88
99      3.2
100       5
101     4.6
Name: What is your CGPA?, Length: 102, dtype: object>
Do you have a Girl Friend or BOY Friend ---- ['No' 'Yes' 'no' 'Nope' 'yes' 'NO' 'YES' 'Yes ' 'Am a girl' 'Am a girl '
 'Sure, multiple girlfriends' 'Girl friends are thieves'
 'Namiiro Zahara Bidin' 'ARI'] ------ <bound method Series.unique of 0       No
1      Yes
2       No
3       No
4       No
      ...
97      No
98     Yes
99      No
100    Yes
101    Yes
Name: Do you have a Girl Friend or BOY Friend, Length: 102, dtype: object>
Do you have Depression? ---- ['No' 'Yes' 'no' 'Nope' "don't know" 'NO' 'MAYBE' 'yes' 'Jo' 'none'
 'Probably' 'abit' 'NO '] ------ <bound method Series.unique of 0       No
1      Yes
2       No
3       No
4       No
      ...
97      No
98      No
99     Yes
100    Yes
101    Yes
Name: Do you have Depression?, Length: 102, dtype: object>
Do you have Anxiety? ---- ['Yes' 'No' 'no' "I'm calm" 'yes' 'KINDA' 'YES' 'No ' 'none' 'Yes '
 'sometimes' 'Sometimes' 'not so ' 'swimming' 'Nope' 'NO' 'A little '
 'yeah'] ------ <bound method Series.unique of 0      Yes
1      Yes
2      Yes
3       No
4       No
      ...
97      No
98     Yes
99     Yes
100     No
101    Yes
Name: Do you have Anxiety?, Length: 102, dtype: object>
Do you have Panic attack? ---- ['Yes' 'No' 'yes ' 'Naaah' 'no' 'NO' 'yes' 'No ' 'none' 'YesNo' 'never'
 'Nope ' 'nah'] ------ <bound method Series.unique of 0      Yes
1      Yes
2      Yes
3       No
4       No
      ...
97      No
98      No
99      No
100     No
101    Yes
Name: Do you have Panic attack?, Length: 102, dtype: object>
Did you have seek any specialist for a treatment?  ---- ['Yes' 'No' 'Nope' 'yes' 'YES' 'NO' 'no' 'No ' 'yeah'] ------ <bound method Series.unique of 0       Yes
1        No
2        No
3      Nope
4        No
       ...
97     Nope
98       No
99       No
100      No
101      No
Name: Did you have seek any specialist for a treatment? , Length: 102, dtype: object>