In [4]:
import numpy as np
import pandas as pd

db= pd.read_csv("mine.csv")
db2=pd.read_csv("Work.csv")

In [5]:
# Accesing each dataset
# head-displays the first few rows of the dataset

print(db.head())
print(db2.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
     Name         city  age py-score
0    Emma      Kampala   23       90
1  Wilber        Mbale   26       75
2   Robin         Gulu   25     mine
3   Tevor  Livingstone  NaN       89
4    Yeko       Tororo   20       94

In [6]:
# tail-displays the last few rows
print(db.tail())
print(db2.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4
     Name         city    age py-score
2   Robin         Gulu     25     mine
3   Tevor  Livingstone    NaN       89
4    Yeko       Tororo     20       94
5  Miriam         Arua  Train      NaN
6   Jesca      Mbarara     21       84

In [7]:
# info-provides info about the dataset, datatypes, non-null values

print(db.info())

print(db2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      7 non-null      object
 1   city      7 non-null      object
 2   age       6 non-null      object
 3   py-score  6 non-null      object
dtypes: object(4)
memory usage: 352.0+ bytes
None

In [8]:
# Cleaning the dataset
# dropna-drops any rows with missing values

db.dropna(inplace=True)
db2.dropna(inplace=True)

In [9]:
# fillna- fill any missing values with appropriate values
db.fillna("value",inplace=True)
db2.fillna("value",inplace=True)

In [15]:
# 2.To remove wrong data- define the cretiria for determining wrong data
#  and filter the dataset accordingly- using regular expression
db2= db2[-db2['age'].str.contains(r'[^0-9]+')]
db2= db2[-db2['py-score'].str.contains(r'[^0-9]+')]

In [16]:
# Wrong formats-if there are columns w wrong formats eg columns that hv strings instead of int
db2['age'] = pd.to_numeric(db2['age'], errors= 'coerce')
db2['py-score'] = pd.to_numeric(db2['py-score'], errors= 'coerce')

In [10]:
# Duplicates
db.drop_duplicates(inplace=True)
db2.drop_duplicates(inplace=True)

In [17]:
# Perform correlation analysis
# btn numerical columns to show the correlation btn variables

correlation_matrix = db.corr()
print(correlation_matrix)

correlation_matrix2 = db2.corr()
print(correlation_matrix2)

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.167770 -0.000501  0.923053
Pulse    -0.167770  1.000000  0.784994  0.015301
Maxpulse -0.000501  0.784994  1.000000  0.195309
Calories  0.923053  0.015301  0.195309  1.000000
               age  py-score
age       1.000000 -0.815891
py-score -0.815891  1.000000